* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #b8c6db;
    background-image: linear-gradient(315deg, #b8c6b8 0%, #f5f7fa 100%);
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quiz-wrapper {
    background-color: #fff;
    width: 600px;
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.1);
    overflow: hidden;
}

.quiz-header {
    padding: 4rem;
}

ul {
    list-style: none;
}

label, input[type="radio"] {
    cursor: pointer;
    margin-right: 10px;
}

ul li {
    font-size: 1.1rem;
}

ul li:not(:last-child) {
    margin: 1rem 0;
}

button {
   background-color: #8e44ad;
   transition: .3s ease-out;
   display: block;
   width: 100%; 
   padding: 1rem;
   color: #fff;
   font-family: inherit;
   border: none;
   font-size: 1.5rem;
   cursor: pointer;
}

button:hover {
    background-color: #6d2f88;
}

button:focus {
    background-color: #a224d8;
    outline: none;
}

h2 {
    margin: 0;
    padding: 1rem;
    text-align: center;
}

@media (max-width: 450px) {
    h2 {
        font-size: 18px;
    }

    .quiz-header {
        padding: 1rem;
    }

    body {
        padding: 0 1rem;
    }
}